//全局样式
html,body,#app {
    width: 100%;
    height: 100%;
}

.scroll-y-transition-enter-active,
.scroll-y-transition-leave-active {
    transition: .3s cubic-bezier(.25,.8,.5,1)!important
}

.scroll-y-transition-enter-from,
.scroll-y-transition-leave-from {
    transition: transform .6s
}

.scroll-y-transition-enter-from,
.scroll-y-transition-leave-to {
    opacity: 0
}

.scroll-y-transition-enter-from {
    transform: translateY(-15px)
}

.scroll-y-transition-leave-to {
    transform: translateY(15px)
}